# fly.toml app configuration file generated for dragon-laundry-bot-beta on 2023-08-21T09:18:05+08:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "dragon-laundry-bot-beta"
primary_region = "sin"

[http_service]
internal_port = 8080
force_https = true
auto_stop_machines = false
auto_start_machines = true
min_machines_running = 0
processes = ["app"]
